@page "/about"
@inject HttpClient Http

@if (cards == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <div class="flex flex-col justify-center items-center gap-5">  
    <!--Card 1-->
        @foreach(var card in cards)
        {
            <div class="max-w-sm flex-auto rounded overflow-hidden shadow-lg content-center" >
                <img class="w-full" src=@card.ImageUrl alt=@card.ImageUrl>
                <div class="px-6 py-4 content-centre">
                    <div class="font-bold text-xl mb-2 item-centre">@card.Title</div>
                    <p class="text-gray-700 text-base">
                        @card.Body
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                </div>
            </div>
        }
</div>
}

@code{

    private InfoCard[] cards = null;

    protected override async Task OnInitializedAsync()
    {
        cards = await Http.GetFromJsonAsync<InfoCard[]>("data/card.info.json");
    }

    class InfoCard
    {
        public string Title { get; set; }
        public string Body { get; set; }
        public string ImageUrl { get; set; }
    };
}